<html>
	<p>Hi there!</p>
	<p>It works!</p>
</html>
	<head>
		<title>Adriana's blog</title>
	</head>
	<body>
		<p>Hi there!</p>
		<p>It works!</p>
	<body>
<html>
<h1>My first experience programming</h1>
<h2>What am I doing?</h2>
<h3>What did I learn?</h3>
<h4>What I wanted to take this workshop</h4>
<h5>What did I eat</h5>
<h6>Did I fall in love with it?</h6>
<em>Yes, I did</em>
<strong>So cool!</strong>
<br /> 
<a href="http://djangogirls.org">link</a>
<ul><li>primer elemento</li><li>segundo elemento</li></ul
<div></div>
